.App {
    padding-top: 36px;
    text-align: center;
}
      
.SearchForm-wrapper {
    display: flex;
    justify-content: center;
}
  
.MoviesList{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 16px;
}

.MoviesList-item {
    margin-bottom: 24px;
    width: 28%;
    height: 100%;
}

.MoviesList-item:hover {
    transform: scale(1.025);
}

.image {
    border-radius: 20px;
}